name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
    - name: Install Autotools
      run: sudo apt-get update && sudo apt-get install -y autoconf automake libtool m4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
